@tailwind preflight;

@import 'themes/light';
@import 'themes/dark';

@import 'components/button';
@import 'components/card';
@import 'components/dropdown';
@import 'components/tooltip';
@import 'components/wrapper';
@import '~pretty-checkbox/src/pretty-checkbox.scss';
@import "~vue-select/src/scss/vue-select.scss";
@import '~viewerjs/dist/viewer.css';
@import '~vue3-picture-swipe/dist/vue3-picture-swipe.css';



html, body  {
    min-height: 100% !important;
    height: 100%;
}
button {
    @apply .text-default;
}

.section {
    @apply .px-8;
}

@tailwind utilities;
