@tailwind preflight;

@import 'themes/light';
@import 'themes/dark';

@import 'components/button';
@import 'components/card';
@import 'components/dropdown';
@import 'components/tooltip';
@import '~pretty-checkbox/src/pretty-checkbox.scss';
@import "~vue-select/src/scss/vue-select.scss";

body,
button {
    @apply .text-default;
}

.section {
    @apply .px-8;
}

@tailwind utilities;
